.school-container {
    background-color: #1D1D1D;
    margin: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
}
.school-name {
    color: #03DAC6;
    font-size: 1.25rem;
}

.degree {
    font-size: 1.125rem;
    color: #EEEEEE;
}

.awards-header {
    color: #AAAAAA;
    font-size: 1rem;
}

.awards-list {
    color: #EEEEEE;
    list-style-type: disc;
}

@media (max-width: 720px) {
    .awards-list {
        list-style: none;
    }
}