.featured-project-container {
    display: flex;
    color: #03DAC6;
    align-items: center;
    margin: 2.5%;
    background-color: #1D1D1D;
    border-radius: 10px;
}

.featured-project-main-container {
    width: 30%;
    text-align: center;
    margin: 2.5%;
}

.featured-project-main-container h4 {
    font-size: 1.25rem;
}

.featured-project-img {
    width: 100%;
    height: auto;
    box-shadow: 10px 10px #03DAC6;
    animation: shadow-grow 0.5s forwards;
}

.featured-project-img:hover {
    cursor: pointer;
    animation: shadow-shrink 0.5s forwards;
}

.featured-project-detail-container {
    background-color: #262626;
    border-radius: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 2.5%;
    font-size: 1.125rem;
    color: #EEEEEE;
}

.featured-project-icon-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.featured-project-technologies {
    color: #AAAAAA;
}

.featured-project-detail-container a {
    color: #AAAAAA;
}


@media (min-width: 1366px) {
    .featured-project-detail-container {
        font-size: 1.25rem;
    }
}


@keyframes shadow-shrink {
    0% {
        box-shadow: 10px 10px #03DAC6;
    }

    100% {
        box-shadow: 2.5px 2.5px #03DAC6;
    }
}

@keyframes shadow-grow {
    0% {
        box-shadow: 2.5px 2.5px #03DAC6;
    }

    100% {
        box-shadow: 10px 10px #03DAC6;
    }
}
